.background{
    background-color: #e2d9ad;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.logo{
    text-align: center;
}
#home-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.start-image{
    text-align: center;
    width: 20vw;
    position: fixed;
    top: 50vh;
    left:40vw;
}
.start-image:active{
    border: solid whitesmoke 10px;
    border-radius: 30px;


 }
#hands_platform{
    margin-top:28vh ;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    overflow: hidden;
}

.hand-image{
    width: 20vw;
}

/* right hand animation */
@keyframes righthand_animation {0% {transform: translate(0px, 0px);animation-duration: 410ms;animation-timing-function: ease-in;} 50% {transform: rotate(62deg) translate(0px, -24px);animation-timing-function: ease;} 100% {transform: translate(0px, 0px);animation-duration: 410ms;animation-timing-function: ease-in;}}



#hand-right{
    padding-top: 20px;
    padding-bottom: 20px;
}

.hand-right-animation{
    animation: righthand_animation;
    animation-duration: 450ms;
    animation-iteration-count: 3;
}
/* left hand animation */
@keyframes lefthand_animation {0% {transform: translate(0px, 0px);animation-duration: 410ms;animation-timing-function: ease-in;} 50% {transform: rotate(-62deg) translate(0px, -24px);animation-timing-function: ease;} 100% {transform: translate(0px, 0px);animation-duration: 410ms;animation-timing-function: ease-in;}}


#hand-left{
    padding-top: 20px;
    padding-bottom: 20px;
}

.hand-left-animation{
    animation: lefthand_animation;
    animation-duration: 450ms;
    animation-iteration-count: 3;
}


/* hand reveal animation */
@-webkit-keyframes heartbeat { from { -webkit-transform: scale(1); transform: scale(1); -webkit-transform-origin: center center; transform-origin: center center; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 10% { -webkit-transform: scale(0.91); transform: scale(0.91); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 17% { -webkit-transform: scale(0.98); transform: scale(0.98); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 33% { -webkit-transform: scale(0.87); transform: scale(0.87); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 45% { -webkit-transform: scale(1); transform: scale(1); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } } @keyframes heartbeat { from { -webkit-transform: scale(1); transform: scale(1); -webkit-transform-origin: center center; transform-origin: center center; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 10% { -webkit-transform: scale(0.91); transform: scale(0.91); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 17% { -webkit-transform: scale(0.98); transform: scale(0.98); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } 33% { -webkit-transform: scale(0.87); transform: scale(0.87); -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; } 45% { -webkit-transform: scale(1); transform: scale(1); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; } }

.heartbeat {
	-webkit-animation: heartbeat 1s ease-in-out 1 both;
	        animation: heartbeat 1s ease-in-out 1 both;
}


#user_options{
    position: fixed;
    left: 67vw;
    top:70vh;
    z-index: 3;
    width: 10vw;
}

area{
    cursor: pointer;
}
.score{
    position: absolute;
    top:35px;
    display: flex;
    gap:30px;
}
.score_background{
    font-size: 2vw;
    background-color: white;
    border: solid black;
    padding: 1vw;
    border-radius: 15px;
        
}

@media screen and (max-width: 992px) {

    #home-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .logo{
        position: static;
        text-align: center;
        margin-top: 22vh;
        
    }
    #home-logo{
        position: static;
        width: 97vw;
    }

    
    .start-image{
        position: fixed;
        left: 30vw;
        top: 60vh;
        width: 45vw;
        text-align: center;
    }
    .start-image:active{
        border: solid whitesmoke 10px;
        border-radius: 25px;
    }

    .score{
        display: flex;
        flex-grow: 1vw;
    }
    .score_background{
        font-size: 10vw;
        background-color: white;
        border: solid black;
        padding: 2vw;
        border-radius: 15px;
        
    }
    #hands_platform{
        margin-top:28vh ;
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        overflow: hidden;
        margin-bottom: 25vh;
    }
    #user_options{
        display: flex;
        justify-content: center;
        z-index: 3;
        position: absolute;
        left: 45vw;
    }
    .hand-image{
        width: 40vw;
    }
    #hand-left{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #hand-right{
        padding-top: 10px;
        padding-bottom: 10px;
    }
        
}