.background{
    background-color: #e2d9ad;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.logo{
    text-align: center;
}
#home-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.start-image{
    text-align: center;
    width: 20vw;
    position: fixed;
    top: 50vh;
    left:40vw;
}
.start-image:active{
    border: solid whitesmoke 10px;
    border-radius: 30px;


 }
#hands_platform{
    margin-top:28vh ;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    overflow: hidden;
}

.hand-image{
    width: 20vw;
}

@-webkit-keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-left{0%{-webkit-transform:translateX(-1000px) scaleX(2.5) scaleY(.2);transform:translateX(-1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@-webkit-keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}


#hand-left{
    animation: slide-in-blurred-left;
    animation-duration: 0.6s;
}
#hand-right{
    animation: slide-in-blurred-right;
    animation-duration: 0.6s;
}
#user_options{
    position: fixed;
    left: 67vw;
    top:70vh;
    z-index: 3;
    width: 10vw;
}

area{
    cursor: pointer;
}
.score{
    position: absolute;
    top:35px;
    display: flex;
    gap:30px;
}
.score_background{
    font-size: 2vw;
    background-color: white;
    border: solid black;
    padding: 1vw;
    border-radius: 15px;
        
}

@media screen and (max-width: 992px) {

    #home-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .logo{
        position: static;
        text-align: center;
        margin-top: 22vh;
        
    }
    #home-logo{
        position: static;
        width: 97vw;
    }

    
    .start-image{
        position: fixed;
        left: 30vw;
        top: 60vh;
        width: 45vw;
        text-align: center;
    }
    .start-image:active{
        border: solid whitesmoke 10px;
        border-radius: 25px;
    }

    .score{
        display: flex;
        flex-grow: 1vw;
    }
    .score_background{
        font-size: 10vw;
        background-color: white;
        border: solid black;
        padding: 2vw;
        border-radius: 15px;
        
    }
    #hands_platform{
        margin-top:28vh ;
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        overflow: hidden;
        margin-bottom: 25vh;
    }
    #user_options{
        display: flex;
        justify-content: center;
        z-index: 3;
        position: absolute;
        left: 45vw;
    }
    .hand-image{
        width: 40vw;
    }
}